PROTO_PATH=example
AWS_REGION=example

CATALOG_SERVICE_DATABASE_URL=example
ORDER_SERVICE_DATABASE_URL=example
PROMOTION_SERVICE_DATABASE_URL=example
PAYMENT_SERVICE_DATABASE_URL=example
UTILITY_SERVICE_DATABASE_URL=example
IAM_SERVICE_DATABASE_URL=example
SHOP_SERVICE_DATABASE_URL=example

CUSTOMER_BFF_PORT=0
ADMIN_BFF_PORT=0
IAM_SERVICE_PORT=0
SHOP_SERVICE_PORT=0
CATALOG_SERVICE_PORT=0
ORDER_SERVICE_PORT=0
PAYMENT_SERVICE_PORT=0
PROMOTION_SERVICE_PORT=0
UTILITY_SERVICE_PORT=0

CUSTOMER_BFF_URL=example

IAM_SERVICE_GRPC_URL=example
CATALOG_SERVICE_GRPC_URL=example
SHOP_SERVICE_GRPC_URL=example
ORDER_SERVICE_GRPC_URL=example
PAYMENT_SERVICE_GRPC_URL=example
PROMOTION_SERVICE_GRPC_URL=example
UTILITY_SERVICE_GRPC_URL=example

COGNITO_DOMAIN=example
CLIENT_ID=example
CLIENT_SECRET=example
REDIRECT_URI=example
USER_POOL_ID=example
PAYMENT_API_KEY=example

REDIS_URL=example
REDIS_TTL=example
CACHE_TOKEN_TTL=example
CACHE_USER_TTL=example

CREATE_PAYMENT_QUEUE_NAME=example
CREATE_PAYMENT_QUEUE_URL=example
CREATE_REDEMPTION_QUEUE_NAME=example
CREATE_REDEMPTION_QUEUE_URL=example
CREATE_ORDER_QUEUE_NAME=example
CREATE_ORDER_QUEUE_URL=example
DELETE_CART_ITEM_QUEUE_NAME=example
DELETE_CART_ITEM_QUEUE_URL=example
SEND_NOTIFICATION_QUEUE_NAME=example
SEND_NOTIFICATION_QUEUE_URL=example

BANK_CODE=example
BANK_NUMBER=example

S3_ENDPOINT=example
S3_IMAGE_BUCKET=example
S3_VIDEO_BUCKET=example